<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fc2c4685b2054ea3af6334b8e8990a79 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_fc2c4685b2054ea3af6334b8e8990a79" ></div>
        
</body>
<script>    
    
            var map_fc2c4685b2054ea3af6334b8e8990a79 = L.map(
                "map_fc2c4685b2054ea3af6334b8e8990a79",
                {
                    center: [37.5543743, -121.9817025],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2eb3b88ec6cd4c8ba5c5b8b64b720d61 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fc2c4685b2054ea3af6334b8e8990a79);
        
    
            var marker_8198249b8363428e8a7ec1f4bcd19bda = L.marker(
                [37.5543743, -121.9817025],
                {}
            ).addTo(map_fc2c4685b2054ea3af6334b8e8990a79);
        
    
            var icon_24277cf526954b4597a3f2a403243f3e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8198249b8363428e8a7ec1f4bcd19bda.setIcon(icon_24277cf526954b4597a3f2a403243f3e);
        
    
        var popup_623015831b164c848940a3c659bad945 = L.popup({"maxWidth": "100%"});

        
            var html_e31f32527f024e78bbe686c62f2f8b60 = $(`<div id="html_e31f32527f024e78bbe686c62f2f8b60" style="width: 100.0%; height: 100.0%;">Home</div>`)[0];
            popup_623015831b164c848940a3c659bad945.setContent(html_e31f32527f024e78bbe686c62f2f8b60);
        

        marker_8198249b8363428e8a7ec1f4bcd19bda.bindPopup(popup_623015831b164c848940a3c659bad945)
        ;

        
    
    
            var marker_f9e1953481434a5b9ad547ba9be8e73b = L.marker(
                [37.56213978427448, -121.97459853055804],
                {}
            ).addTo(map_fc2c4685b2054ea3af6334b8e8990a79);
        
    
        var popup_88ed032ac92c46eb85a9557312db5c10 = L.popup({"maxWidth": "100%"});

        
            var html_d616d041b50a4589abd51a5ad2c9b902 = $(`<div id="html_d616d041b50a4589abd51a5ad2c9b902" style="width: 100.0%; height: 100.0%;">Chris</div>`)[0];
            popup_88ed032ac92c46eb85a9557312db5c10.setContent(html_d616d041b50a4589abd51a5ad2c9b902);
        

        marker_f9e1953481434a5b9ad547ba9be8e73b.bindPopup(popup_88ed032ac92c46eb85a9557312db5c10)
        ;

        
    
    
            var marker_6225ba068c4949119ad67f32fbff8033 = L.marker(
                [37.56213978427448, -121.97459853055804],
                {}
            ).addTo(map_fc2c4685b2054ea3af6334b8e8990a79);
        
    
        var popup_e6fc4f145e2543e980a121c42d37b7a4 = L.popup({"maxWidth": "100%"});

        
            var html_c35b7a7d435949ac848288fd774d9500 = $(`<div id="html_c35b7a7d435949ac848288fd774d9500" style="width: 100.0%; height: 100.0%;">chris</div>`)[0];
            popup_e6fc4f145e2543e980a121c42d37b7a4.setContent(html_c35b7a7d435949ac848288fd774d9500);
        

        marker_6225ba068c4949119ad67f32fbff8033.bindPopup(popup_e6fc4f145e2543e980a121c42d37b7a4)
        ;

        
    
    
            var marker_88d4c5c650d049ce87b8c5341faa5592 = L.marker(
                [37.56213978427448, -121.97459853055804],
                {}
            ).addTo(map_fc2c4685b2054ea3af6334b8e8990a79);
        
    
        var popup_1713274d6b0241579bb58af26c78bf9b = L.popup({"maxWidth": "100%"});

        
            var html_6dec802bc8a7402d94368f4ee3ed3111 = $(`<div id="html_6dec802bc8a7402d94368f4ee3ed3111" style="width: 100.0%; height: 100.0%;">Chris</div>`)[0];
            popup_1713274d6b0241579bb58af26c78bf9b.setContent(html_6dec802bc8a7402d94368f4ee3ed3111);
        

        marker_88d4c5c650d049ce87b8c5341faa5592.bindPopup(popup_1713274d6b0241579bb58af26c78bf9b)
        ;

        
    
</script>