<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_755e28df6f664aea953aff1595527c33 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_755e28df6f664aea953aff1595527c33" ></div>
        
</body>
<script>    
    
            var map_755e28df6f664aea953aff1595527c33 = L.map(
                "map_755e28df6f664aea953aff1595527c33",
                {
                    center: [37.52265968974697, -122.03095278393795],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cc98fee7a83c4c748228e6ef3878120d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_755e28df6f664aea953aff1595527c33);
        
    
            var marker_8798a49555694498afe5ba824a728ee0 = L.marker(
                [37.52265968974697, -122.03095278393795],
                {}
            ).addTo(map_755e28df6f664aea953aff1595527c33);
        
    
            var icon_5a43feec0e734f68ac9f8887a59ee6a8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8798a49555694498afe5ba824a728ee0.setIcon(icon_5a43feec0e734f68ac9f8887a59ee6a8);
        
    
        var popup_71acaeda12e646bfa68e63cac9a40d8d = L.popup({"maxWidth": "100%"});

        
            var html_cee85c5a48dd4f73aaaf1d36c4087352 = $(`<div id="html_cee85c5a48dd4f73aaaf1d36c4087352" style="width: 100.0%; height: 100.0%;">Home</div>`)[0];
            popup_71acaeda12e646bfa68e63cac9a40d8d.setContent(html_cee85c5a48dd4f73aaaf1d36c4087352);
        

        marker_8798a49555694498afe5ba824a728ee0.bindPopup(popup_71acaeda12e646bfa68e63cac9a40d8d)
        ;

        
    
    
            var marker_58720d73b1bf43ae99e662f3b86bf948 = L.marker(
                [37.56213978427448, -121.97459853055804],
                {}
            ).addTo(map_755e28df6f664aea953aff1595527c33);
        
    
        var popup_420f058e98d54791a1963af906d53327 = L.popup({"maxWidth": "100%"});

        
            var html_74096fa3fea443d4a5f1e8c73ad97027 = $(`<div id="html_74096fa3fea443d4a5f1e8c73ad97027" style="width: 100.0%; height: 100.0%;">Chris</div>`)[0];
            popup_420f058e98d54791a1963af906d53327.setContent(html_74096fa3fea443d4a5f1e8c73ad97027);
        

        marker_58720d73b1bf43ae99e662f3b86bf948.bindPopup(popup_420f058e98d54791a1963af906d53327)
        ;

        
    
    
            var marker_790db0a051b249259245a6803b5fb489 = L.marker(
                [37.56213978427448, -121.97459853055804],
                {}
            ).addTo(map_755e28df6f664aea953aff1595527c33);
        
    
        var popup_636eff5273e94e51aeb508da04a46221 = L.popup({"maxWidth": "100%"});

        
            var html_5dde38ba4056498d81f0950f1261d40a = $(`<div id="html_5dde38ba4056498d81f0950f1261d40a" style="width: 100.0%; height: 100.0%;">Chris</div>`)[0];
            popup_636eff5273e94e51aeb508da04a46221.setContent(html_5dde38ba4056498d81f0950f1261d40a);
        

        marker_790db0a051b249259245a6803b5fb489.bindPopup(popup_636eff5273e94e51aeb508da04a46221)
        ;

        
    
    
            var marker_b5a06aeac9da455ba4493c9871abafa1 = L.marker(
                [37.56213978427448, -121.97459853055804],
                {}
            ).addTo(map_755e28df6f664aea953aff1595527c33);
        
    
        var popup_b3e88fcd47fc4f7f958e869c0d2a1148 = L.popup({"maxWidth": "100%"});

        
            var html_f6f545a309fb4f9fabf448a6c8897d37 = $(`<div id="html_f6f545a309fb4f9fabf448a6c8897d37" style="width: 100.0%; height: 100.0%;">chris</div>`)[0];
            popup_b3e88fcd47fc4f7f958e869c0d2a1148.setContent(html_f6f545a309fb4f9fabf448a6c8897d37);
        

        marker_b5a06aeac9da455ba4493c9871abafa1.bindPopup(popup_b3e88fcd47fc4f7f958e869c0d2a1148)
        ;

        
    
</script>