{% extends "base_site.html" %}
{%block content%}
{%block stylesheets%}
{{super()}}
<meta charset="UTF-8">

<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
{% endblock stylesheets%}
<style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
 
    </style>
<div class = "container">
  <h2>Restaurant Recommender</h2>    
  <br/><br/>



<form method="POST" action="/response">
    Type of Restaurant You Want To Go To: <input type="text" name="fname" required><br>
    <input type="submit" value="Submit" onclick="myFunction()">
   </form>
   {% if name %}


   <div id="myDIV">
     <br>
    <h1>{{name}}</h1>
    <h2>{{res1}}</h2>
    <h4>{{des1}}</h4>
    <br/>
    <h2>{{res2}}</h2>
    <h4>{{des2}}</h4>
    <br/>
    <h2>{{res3}}</h2>
    <h4>{{des3}}</h4>
   </div>


  {% endif %}
  </div>


  <script>
      var x = document.getElementById("myDIV");
      x.style.display = state;

    function myFunction() {
     state = "block";
    }
    var state="none"

    </script>



{% endblock content%}



<script>

  function myFuncti2on() {
    document.getElementById("title").innerHTML = "Results:";
    document.getElementById("name").innerHTML = "Isabella's";
    document.getElementById("description").innerHTML = "Kitchen Bars, Nightlife, Beer, 3.5 259 Compass Arizona Grill Wine & Spirits, Italian, Food , Restaurants";
    document.getElementById("name2").innerHTML = "Compass Arizona Grill";
    document.getElementById("description2").innerHTML = "Wine & Spirits, Italian, Food , Restaurants Nightlife, American";
    document.getElementById("name3").innerHTML = "Orange Sky";
    document.getElementById("description3").innerHTML = "Seafood, Steakhouses, Steak, American, Fancy";
  }
  </script>